/*Cart*/

.cart{
    width: 500px;
    height: auto;
    background-color: $primary_1;
    padding: 25px;
    box-sizing: border-box;
    height: 100%;
    position: fixed;
    right: 100%;
    top: 100px;
    box-shadow: -19px -1px 22px -15px rgba(0,0,0,0.30 );
    &__title{
        @include text(100% ,200 ,20px );
        box-sizing: border-box;
    }
    &__item{
        border-bottom: 1px solid #333;
        @include flexbox;
        padding: 15px;
        box-sizing: border-box;
    }
    .cart__img{
        width: 200px;
    }
    .cart__deletedimg{
        width: 50px;
    }
    .cart_cost{
        font-weight: 500;
    }
    .cart__delet{
        width: 25px;
        cursor: pointer;
    }
    @include Ipad_Air{
        width: 400px;
        top: 80px;
    }
    @include phones{
        width: 100%;
        box-shadow: none;
        &__tittle{
            padding: 15px 0;
        }
        &__item{
            flex-direction: column;
            align-items: center;
         
        .cart__img{
            width: 40px;

            }
        .cart__text,
        .cart__cost{
            margin: 0;
            }
        }
    }
}